a.navbar-brand{
  color: #ffffff;
}
a.navbar-brand:hover{
  color: #ffffff;
}
.navbar-inverse{
  background-color: #337ab7;
  border: none;
}
.navbar-right{
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
